html {
    background-color: #88b9e7;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}
p {
    color: red;
    width: 500px;
    border: 1px solid black;
}
h1 {
    margin: 0; 
    padding: 20px 0;
    Color: #1f7457;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 700px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    
}

.done {
    color: darkseagreen;
    text-decoration: line-through solid black 2px;
}   